# Copyright (c) Meta Platforms, Inc. and affiliates.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

breathe
sphinx_rtd_theme
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
